.website-heading {
  font-family: "Roboto";
  font-weight: 300;
  color: green;
  font-size: 16px;
}
.movie-page-container {
  background-color: #363738;
  height: 600vh;
}
.movie-list-container {
  display: flex;
  flex-direction: column;
  background-color: #363738;
  padding: 15px;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 35px;
  width: 520px;
  border: none;
  margin-right: 15px;
  border-radius: 10px;
}
.add-button {
  height: 35px;
  width: 100px;
  padding: 5px;
  background-color: green;
  color: #ffffff;
  font-size: 14px;
  font-family: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}
.delete-button {
  height: 30px;
  width: 80px;
  padding: 5px;
  background-color: green;
  color: #ffffff;
  font-size: 14px;
  font-family: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 410px;
  margin-top: 20px;
}
.sort-heading {
  font-weight: 500;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  margin: 5px;
  font-family: 500;
}
.select-item {
  height: 35px;
  width: 100px;
}
.items-con {
  display: flex;
  flex-direction: column;
  background-color: #163c57;
  height: 290px;
  width: 540px;
  padding: 15px;
  border: 2px solid none;
  border-radius: 10px;
}
.item-container {
  display: flex;
  flex-direction: row;
}
.item-image {
  width: 170px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 210px;
}
.item-info {
  font-family: "Roboto";
  height: 70px;
  width: 430px;
  padding-left: 10px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}
.list-container {
  display: flex;
  flex-direction: column;

  list-style: none;
}
.span-name {
  font-family: "Roboto";
  font-weight: 300;
  color: green;
  font-size: 16px;
}
.item-title {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
}
