.footer-container {
  background-color: #060f07;
  height: 60px;
  width: 100%;
  text-align: center;
}
.footer-heading {
  font-family: "Roboto";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
}
